*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

#header{
    height: 100px;
    background-color: rgba(216, 191, 216, 0.226);
    color: white;
    text-align: center;
    justify-content: center;  
    padding-top: 0.2rem; 
    margin-bottom: 40px;
}

body{
    background-color: rgba(0, 0, 0, 0.164);
    background-image: url(/images/Game\ background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    width: 90%;
    max-width: 40rem;
    margin: auto;    
    background-color: white;
}

.container{
    text-align: center;
    padding: 0.3rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
}
.healthBar{
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #575757;
    margin: 1rem 1rem;
    background: #fde5e5;

}

.healthBarValue{
    background-color: rgb(80, 177, 131);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

#buttonSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button{
    font: inherit;
    border: 1px solid #2e3238;
    background-color: #5d78f1;
    color: white;
    padding: 1rem 2rem;
    border-radius: 12px;
    margin: 1rem;
    width: 12rem;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
    outline: none;
}

button:hover{
    background-color: rgb(179, 224, 241);
    color: rgb(71, 70, 70);
    
}

button:disabled{
    background-color: gray;
    color: gainsboro;
}

